html {
  background-image: url(/img/imagegrey.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

h1 {
  font-size: 35px;
  font-family: Arial, Verdana, Helvetica;
  text-decoration: underline;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.topnav {
  background-color: rgb(4, 40, 110);
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 18px 30px;
  text-decoration: none;
  font-size: 19px;
  font-style: italic;
}

.topnav a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.topnav a.active {
  background-color: #0d0404;
  color: white;
}
.topnav a.active:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.listNests {
  font-family: Arial, Verdana, Helvetica;
}

h2 {
  text-decoration: underline;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.listTitles {
  font-weight: bold;
  font-size: 19px;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

dd {
  font-size: 16px;
  text-align: justify;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

img {
  max-width: 100%;
  max-height: 100%;
}
.imageMessi {
  height: 900px;
  width: 800px;
}
