* {
  padding: 0;
  margin: 0;
}
html {
  background-image: url(/img/imgBackround.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: auto;
}
body {
  font-family: "Playfair Display", serif;
}
#imgBackround {
  width: 100%;
  height: 100%;
  background: no-repeat;
}
nav {
  background-color: rgb(192, 149, 21, 0.75);
  width: 100%;
  height: 91px;
}
.title {
  display: flex;
  font-size: 20px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  color: rgb(0, 0, 0);
  text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
}
.linksYLogo {
  display: flex;
  justify-content: flex-start;
}
#linkLogo {
  height: 10%;
  width: 7%;
}
#imgLogo {
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.divLinks {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.links {
  color: rgb(255, 255, 255);
  margin: 0 10px;
  background-color: rgba(103, 5, 5, 0.221);
  text-decoration: none;
  border-radius: 6px;
  font-size: 20px;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}
.presentacion {
  height: 150px;
  background-color: rgba(191, 191, 191, 0.75);
  margin: 10% 0;
  font-size: 20px;
  font-weight: 700;
  text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
}
h2 {
  font: bold;
}
.heroText-img {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.textHero {
  font-size: 25px;
  text-align: justify;
  text-indent: 30px;
}
.onikiriDiv {
  height: 150px;
  display: flex;
  justify-content: flex-end;
}
#onikiriId {
  height: 160px;
}
