* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(115, 243, 246);
  font-size: 15px;
  font-family: "Anek Malayalam", sans-serif;
}
h1 {
  font-size: 60px;
  text-align: center;
  text-decoration: underline;
  text-shadow: black 0.1em 0.1em 0.2em;
}
.navbar {
  width: 100%;
  background-color: rgb(241, 241, 241);
  overflow: hidden;
  font-weight: bold;
}
#logoNavbar {
  height: 100px;
  width: 100px;
  padding: 5px 20px;
  position: static;
}
.links {
  font-size: 19px;
  float: right;
  text-align: center;
  padding: 45px 30px;
  color: #000000;
}
.links:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
#activoGithub:hover {
  background-color: rgb(115, 243, 246);
  color: rgb(0, 0, 0);
}
