* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgb(209, 205, 203);
}
article {
  margin-top: 50%;
  margin-bottom: 50%;
  text-align: center;
  width: 350px;
  height: 600px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px 20px;
  box-shadow: 0px 0px 15px 5px rgb(136, 205, 248);
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.imgAvatar {
  height: 125px;
  width: 125px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}
.iniciarSesion {
  font-size: 30px;
  font-family: "Anek Malayalam", sans-serif;
  margin-bottom: 30px;
}
#email {
  font-size: 20px;
  font-family: "Anek Malayalam", sans-serif;
  height: 45px;
  width: 275px;
  background-color: rgb(136, 205, 248);
  border-radius: 6px 6px 6px 6px;
  margin-bottom: 10px;
}
#password {
  font-size: 20px;
  font-family: "Anek Malayalam", sans-serif;
  height: 45px;
  width: 275px;
  background-color: rgb(136, 205, 248);
  border-radius: 6px 6px 6px 6px;
  margin-bottom: 30px;
}
#entrar {
  text-align: center;
  font-size: 20px;
  font-family: "Anek Malayalam", sans-serif;
  height: 60px;
  width: 275px;
  background-color: rgb(136, 205, 248);
  border-radius: 6px 6px 6px 6px;
  margin-bottom: 30px;
}
#entrar:hover {
  cursor: pointer;
  color: rgb(136, 205, 248);
  background-color: rgb(0, 0, 0);
}
#olvidoContraseña {
  text-align: center;
  font-size: 15px;
  font-family: "Anek Malayalam", sans-serif;
  height: auto;
  width: auto;
  background-color: rgb(136, 205, 248);
  border-radius: 15px;
  margin-bottom: 30px;
}
#olvidoContraseña:hover {
  cursor: pointer;
  color: rgb(136, 205, 248);
  background-color: rgb(0, 0, 0);
}
.registrarse{
  text-align: center;
  font-size: 15px;
  font-family: "Anek Malayalam", sans-serif;
}
