* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anek Malayalam", sans-serif;
  list-style: none;
  text-decoration: none;
}
a {
  color: black;
}
body {
  font-size: 20px;
  background-color: blanchedalmond;
}
/* -------------Variables Declaradas------------- */
:root {
  --primary-backround-color: blanchedalmond;
  --backround-color-header: #a4a3ad;
  --color-black: #000;
  --white-color: #ffffff;
}
header {
  width: 100%;
  background-color: var(--backround-color-header);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  top: 0;
  position: fixed;
}
/* -------------Logo Header------------- */
.container-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#zanella-png {
  max-width: 80%;
  min-width: 25%;
  height: auto;
}
/* -------------Navbar------------- */
nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* -------------Navbar list------------- */
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  font-weight: 900;
  width: 100%;
}
/* -------------Navbar links------------- */
nav ul li a {
  background-color: var(--color-black);
  color: var(--white-color);
  text-transform: uppercase;
  cursor: pointer;
  padding: 4px 20px;
  border-radius: 10px;
  border: 3px solid;
  border-color: var(--white-color);
}
nav ul li a:hover {
  background-color: var(--white-color);
  color: var(--color-black);
}
/* -------------Button hamburguesa------------- */
#btn-input {
  display: none;
}
/* -------------Font awesome bars hamburguesa------------- */
.bars-button {
  display: none;
}
/* -------------Hero container section empieza------------- */
.container-hero {
  width: 100%;
  height: calc(100vh - 80px);
  margin-top: 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/assets/Zanella-GT2i-diseno.jpg);
}
.container-text-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  color: white;
  background-color: #0a0808b0;
  text-shadow: 0 1px 0 #000000, 0 2px 0 #000000, 0 3px 0 rgb(0, 0, 0), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15), 40px 40px 5px rgba(0, 0, 0, 0);
}
.container-text-hero h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
}
.container-text-hero p {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 2% 0 5% 0;
}
/* -------------Button hero cilindradas------------- */
#btn-hero {
  display: none;
}
.btn-hero-label {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: rgba(73, 71, 71, 0.441);
  border: 1px solid var(--white-color);
  border-radius: 10px;
  padding: 0.5% 1%;
  cursor: pointer;
}
.btn-hero-label:hover {
  color: var(--color-black);
  border: 1px solid var(--color-black);
  background-color: rgb(255, 255, 255);
  padding: 1% 1.5%;
}
/* -------------Cards------------- */
.container__cards-back {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__cards {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.container__card-flex {
  display: flex;
  margin-right: 5%;
  margin-left: 5%;
  flex-direction: column;
  align-items: center;
  width: 300px;
  justify-content: center;
}
/* -------------Centrado de imagen en card y redimension de container de imagen------------- */
.container__img-center {
  width: 300px;
  height: 300px;
  text-align: center;
}
/* -------------Redimension imagenes------------- */
#img-ZB-png {
  width: 100%;
  height: auto;
}
#img-RX-png {
  width: 100%;
  height: auto;
}
#img-ZR-png {
  width: 100%;
  height: auto;
}
/* -------------Modificacion texto cards------------- */
.Container__h2Card-style{
  
}
.Container__text-style{

}
