* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  background-color: #dbe4f4;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
}

header {
  background-color: cornflowerblue;
  width: 100vw;
}

nav {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*=========NAVBAR============== */
.div-fifa-nav-logo {
  display: flex;
  width: 100%;
  height: 100%;
}
.fifa-nav-logo {
  width: auto;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

nav ul {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

nav ul li {
  margin-left: 25px;
  margin-top: 6px;
  margin-right: 25px;
  margin-bottom: 6px;
}

nav ul li a {
  color: black;
  text-transform: uppercase;
}

.fa-arrow-down {
  padding-left: 5px;
  cursor: pointer;
}

.bar-search-div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#searchInput {
  margin-right: 5px;
}

.label-search-input {
  margin-left: 5px;
  margin-right: 10px;
}

#checkbox-input-navbar-mediaquery {
  display: none;
  position: fixed;
}
#bars-navbar-mediaquery {
  display: none;
  position: fixed;
}
/*=========HERO=========*/
.hero-section {
  position: relative;
  width: 100%;
  height: calc(100vh - 50px);
  background-color: cornflowerblue;
  background-size: cover;
  background-position: center;
  transition: all 0.3s ease-in-out;
  animation: heroAnimacionImagenes 10s infinite linear;
}
.hero-article-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: black;
  background-color: rgb(16 17 30 / 57%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero-article-content h1 {
  font-size: 40px;
  color: white;
  text-shadow: -2px 3px 6px rgba(0, 0, 0, 0.82);
  padding-bottom: 15px;
}
.hero-article-content p {
  font-size: 20px;
  color: white;
  text-shadow: -2px 3px 6px rgba(0, 0, 0, 0.82);
  padding-bottom: 15px;
}
.hero-article-content a {
  font-size: 20px;
  color: white;
  text-shadow: -2px 3px 6px rgba(0, 0, 0, 0.82);
  padding: 4px 9px 4px 9px;
  border-color: 1mm;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
}
.hero-article-content a:hover {
  background-color: white;
  color: black;
}
@keyframes heroAnimacionImagenes {
  0% {
    background-image: url(../assets/img/fifa-hero-body.jpeg);
  }
  50% {
    background-image: url(../assets/img/fifa-hero-body.jpeg);
  }

  51% {
    background-image: url(../assets/img/fifa-hero-body-2.jpeg);
  }
  100% {
    background-image: url(../assets/img/fifa-hero-body-2.jpeg);
  }
}
