* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  background-color: #dbe4f4;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
}

header {
  display: flex;
  background-color: cornflowerblue;
  width: 100%;
  min-height: 30px;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*=========NAVBAR============== */
.div-fifa-nav-logo {
  display: flex;
  align-items: center;
}
.fifa-nav-logo {
  width: auto;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li {
  font-size: 20px;
  display: inline-block;
  margin-left: 25px;
  margin-top: 6px;
  margin-right: 25px;
  margin-bottom: 6px;
  font-weight: 600;
}

nav ul li a {
  color: black;
  text-transform: uppercase;
}
a#active,
ul li:hover {
  background: rgb(255, 255, 255);
  transition: 0.5s;
  border-radius: 6px;
}
#active:hover {
  color: white;
  background: black;
}
.fa-arrow-down {
  padding-left: 5px;
  cursor: pointer;
}

.bar-search-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#searchInput {
  margin-right: 5px;
}

.label-search-input {
  margin-left: 5px;
  margin-right: 10px;
}

#checkbox-input-navbar-mediaquery {
  display: none;
}
.label-checkbox-input-mediaquery {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 50px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
/*=========HERO=========*/
.hero-section {
  width: 100%;
  height: calc(100vh - 50px);
  background-color: cornflowerblue;
  background-size: cover;
  background-position: center;
  transition: all 0.3s ease-in-out;
  animation: heroAnimacionImagenes 10s infinite linear;
}
.hero-article-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: black;
  background-color: rgb(16 17 30 / 57%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title-hero-h1 {
  font-size: 40px;
  color: white;
  text-shadow: -2px 3px 6px rgba(0, 0, 0, 0.82);
  padding-bottom: 15px;
  font-weight: 600;
}
.hero-article-content p {
  font-size: 20px;
  color: white;
  text-shadow: -2px 3px 6px rgba(0, 0, 0, 0.82);
  padding-bottom: 15px;
}
.hero-article-content a {
  font-size: 20px;
  color: white;
  text-shadow: -2px 3px 6px rgba(0, 0, 0, 0.82);
  padding: 4px 9px 4px 9px;
  border-color: 1mm;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
}
.hero-article-content a:hover {
  background-color: white;
  color: black;
}
@keyframes heroAnimacionImagenes {
  0% {
    background-image: url(../assets/img/fifa-hero-body.jpeg);
  }
  50% {
    background-image: url(../assets/img/fifa-hero-body.jpeg);
  }

  51% {
    background-image: url(../assets/img/fifa-hero-body-2.jpeg);
  }
  100% {
    background-image: url(../assets/img/fifa-hero-body-2.jpeg);
  }
}
@media (max-width: 1100px) {
  .title-hero-h1 {
    font-size: 35px;
  }
  nav ul li {
    font-size: 14px;
  }
  .hero-article-content p {
    font-size: 16px;
  }
}
@media (max-width: 770px) {
  .fifa-nav-logo {
    height: 40px;
  }
  nav ul li {
    font-size: 11px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .bar-search-div {
    height: 30px;
  }

  #searchInput {
    font-size: 12px;
  }
  .label-search-input {
    font-size: 16px;
  }
  .title-hero-h1 {
    font-size: 30px;
  }
  .hero-article-content p {
    font-size: 16px;
  }
}
@media (max-width: 769.98px) {
  .label-checkbox-input-mediaquery {
    display: block;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: cornflowerblue;
    top: 50px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
  }
  nav ul li a {
    font-size: 20px;
  }
  #checkbox-input-navbar-mediaquery:checked ~ nav ul {
    left: 0%;
  }
}
