* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  background-color: rgba(217, 211, 204, 0.8);
}

body {
  font-family: "Gentium Book Plus", serif;
  font-style: normal;
}

header {
  background-color: rgb(172, 172, 172);
  width: 100vw;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fifa-nav-logo {
  width: 140px;
  height: auto;
  margin-left: 10px;
  margin-right: 50px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  margin-left: 25px;
  margin-top: 6px;
  margin-right: 25px;
  margin-bottom: 6px;
}

nav ul li a {
  color: black;
  text-transform: uppercase;
}

.fa-arrow-down {
  padding-left: 5px;
  cursor: pointer;
}

.bar-search-div {
  display: flex;
  width: 5em;
}

#searchInput {
  margin-right: 5px;
}

.label-search-input {
  margin-left: 5px;
  margin-right: 10px;
}

#checkbox-input-navbar-mediaquery {
  display: none;
}
#bars-navbar-mediaquery {
  display: none;
}
