* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  list-style: none;
  text-decoration: none;
}
:root {
  --whiteColor: #ffffff;
  --blackColor: #000000;
  --backroundColor: #6c7fa1;
}
html {
  background-color: #dbe4f4;
}
/* navbar */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--backroundColor);
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 1;
}
.fifa-header-logo {
  width: auto;
  height: 7rem;
  margin-right: 10px;
  margin-left: 15px;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 70%;
}
.link-menu {
  color: var(--blackColor);
  font-size: 25px;
  font-weight: bold;
}
.bar-search-ul {
  font-size: 25px;
}
.bar-search-ul li {
  display: flex;
  align-items: center;
}
#searchInput {
  margin-right: 10px;
  font-size: 20px;
}
#input-checkbox-hamburguer {
  display: none;
}
.fa-bars {
  display: none;
}
/* Section hero */
.hero-section {
  margin-top: 70px;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  animation: heroAnimacionImagenes 20s infinite linear;
}
@keyframes heroAnimacionImagenes {
  0% {
    background-image: url(../assets/img/fifa-hero-body.jpeg);
  }
  50% {
    background-image: url(../assets/img/fifa-hero-body.jpeg);
  }
  51% {
    background-image: url(../assets/img/fifa-hero-body-2.jpeg);
  }
  99% {
    background-image: url(../assets/img/fifa-hero-body-2.jpeg);
  }
  100% {
    background-image: url(../assets/img/fifa-hero-body.jpeg);
  }
}
.hero-article-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: black;
  background-color: rgb(16 17 30 / 57%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title-hero-h1 {
  font-size: 40px;
  color: white;
  text-shadow: -2px 3px 6px rgba(0, 0, 0, 0.82);
  padding-bottom: 1rem;
  font-weight: 600;
}
.hero-article-content p {
  font-size: 20px;
  color: white;
  text-shadow: -2px 3px 6px rgba(0, 0, 0, 0.82);
  padding-bottom: 15px;
  text-align: center;
  margin-right: 15px;
  margin-left: 15px;
}
.hero-article-content a {
  font-size: 20px;
  color: white;
  text-shadow: -2px 3px 6px rgba(0, 0, 0, 0.82);
  padding: 4px 9px 4px 9px;
  border-color: 1mm;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
}
.hero-article-content a:hover {
  background-color: white;
  color: black;
}
/* ===============CARDS ===========*/
.section-cards {
  width: 100%;
  height: 100vh;
  background-color: var(--backroundColor);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Contenedor que guarda adentro el titulo "explora lo que ofrecemos"y las cards */
.container-card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
/* Titulo cards explora lo que ofrecemos */
.title-section-cards {
  text-align: center;
  padding: 5px 0px;
  text-transform: uppercase;
  font-size: 2rem;
  margin: 2rem;
  text-shadow: -1px 2px 2px rgba(255, 255, 255, 0.82);
}
/* Contenedor principal de las cards */
.container-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}
.link-cards-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  color: var(--blackColor);
}
#player-png-card {
  max-width: 16rem;
  margin: 0 auto;
}
#ligue-png-card {
  max-width: 16rem;
  margin: 0 auto;
}
#stadium-png-card {
  max-width: 16rem;
  margin: 0 auto;
}
/* .card-ligues {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */
/* .card-stadiums {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */
.h2-cards {
  margin: 15px 0;
}
.text-cards {
  max-width: 400px;
  text-align: center;
  font-size: 1.4rem;
}
/* =============Footer============ */
footer {
  background-color: var(--blackColor);
  width: 100%;
  color: var(--whiteColor);
}
footer h2 {
  text-indent: 2rem;
  text-align: left;
  padding: 5px 0px;
  font-size: 20px;
}
footer section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1rem;
  flex-wrap: wrap;
}
.container-footer-column1,
.container-footer-column2 {
  padding-bottom: 1rem;
}
footer section h4 {
  margin-bottom: 5px;
}
.fa-location-dot {
  padding-right: 5px;
}
.fa-envelope {
  padding-right: 5px;
}
.fa-phone {
  padding-right: 5px;
}
footer p {
  font-size: 12px;
  text-align: center;
  padding-bottom: 1rem;
}
/* ================MediaQuerys=============== */
@media (max-width: 1440px) {
  .fifa-header-logo {
    height: 6rem;
  }
  .link-menu {
    font-size: 22px;
  }
  #searchInput {
    font-size: 18px;
  }
  .bar-search-ul {
    font-size: 22px;
  }
  .hero-article-content p {
    font-size: 18px;
  }
  .title-hero-h1 {
    font-size: 38px;
  }
  .h2-cards {
    font-size: 23px;
  }
  .text-cards {
    font-size: 21px;
  }
}
@media (max-width: 1160px) {
  .fifa-header-logo {
    height: 5rem;
  }
  .link-menu {
    font-size: 20px;
  }
  #searchInput {
    font-size: 15px;
  }
  .bar-search-ul {
    font-size: 19px;
  }
  .hero-article-content p {
    font-size: 17px;
  }
  .title-hero-h1 {
    font-size: 36px;
  }
  .h2-cards {
    font-size: 21px;
  }
  .text-cards {
    font-size: 20px;
  }
  footer h2 {
    font-size: 19px;
  }
}
@media (max-width: 992px) {
  header {
    height: 60px;
  }
  .list-nav {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .link-menu {
    font-size: 15px;
  }
  .bar-search-ul {
    font-size: 15px;
  }
  #searchInput {
    font-size: 11px;
  }
  .hero-section {
    margin-top: 60px;
  }
  .fifa-header-logo {
    height: 4rem;
  }
  .hero-article-content p {
    font-size: 17px;
  }
  .title-hero-h1 {
    font-size: 36px;
  }
  .title-section-cards {
    margin-top: 30px;
  }
  .h2-cards {
    font-size: 21px;
  }

  .text-cards {
    font-size: 20px;
  }
  footer h2 {
    font-size: 19px;
  }
}
@media (max-width: 799px) {
  .list-nav {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .link-menu {
    font-size: 14px;
  }
  .title-section-cards {
    font-size: 1.5rem;
    margin: 1rem;
  }
  #player-png-card {
    max-width: 11rem;
  }
  #ligue-png-card {
    max-width: 11rem;
  }
  #stadium-png-card {
    max-width: 11rem;
  }
  .text-cards {
    font-size: 17px;
  }
}
@media (max-width: 580px) {
  .navbar {
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
  }
  .navbar .list-nav {
    background-color: var(--backroundColor);
    width: 100%;
    height: calc(100vh - 60px);
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(100%);
    transition: all 0.5s;
  }
  .fa-bars {
    display: block;
  }
  #input-checkbox-hamburguer:checked ~ .list-nav {
    transform: translateX(0%);
  }
  #searchInput {
    margin-right: 5px;
  }
  .link-menu {
    font-size: 25px;
  }
  .title-section-cards {
    font-size: 1.2rem;
    margin: 1rem;
  }
  #player-png-card {
    max-width: 9rem;
  }
  #ligue-png-card {
    max-width: 9rem;
  }
  #stadium-png-card {
    max-width: 9rem;
  }
  .text-cards {
    font-size: 15px;
  }
  footer h2 {
    text-align: center;
  }
}
